#bold-title{font-family: "Comic Sans MS", cursive, sans-serif;
font-size: 31px;
letter-spacing: 2.4px;
word-spacing: 2px;
color: #CF94FF;
font-weight: 700;
text-decoration: none solid rgb(68, 68, 68);
font-style: italic;
font-variant: normal;
text-transform: uppercase;
}